# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# idea folders
.idea/

# ignore binaries and vendoring
tinkoff_bot_public
debug
/vendor


# other ignores
.tags*
/log
/*/log
/*/*/log
public/assets
tmp
*.coverprofile
/bin
.vscode/launch.json
ui/.DS_Store
.DS_Store
